
body {

   
    display: flex;
  flex-direction: column;
}

.navbar > a {

    padding: 1px; 
}

.logo_pl {

    width: 5px;
    height: 5px;
}


a {

    color: #2b2b2b;
    border: 1px solid greenyellow;
    border-radius: 5%;
}


a:hover  {

color: #2b2bb2;
}

.names {

    text-align: center;
}

.placeholder {
    border-radius: none;
    background-color: grey;
    max-width: 5rem;
    max-height: 5rem;
}

